<section class="film_detail" ng-if="filmComponent.view.film_detail">
	<div class="outer_area col-xs-2" ng-click="filmComponent.close()"></div>
	<article class="col-xs-10">
		<div class="detail_header">
			<h2>
				<span>{{ filmComponent.view.film_detail.title }} <small>{{ filmComponent.view.film_detail.release_date }}</small></span>
				<a class="close pull-right" ng-click="filmComponent.close()">X</a>
			</h2>
		</div>
		<hr>
		<div class="col-md-4" ng-if="filmComponent.view.film_detail.poster_path">
			<img ng-src="{{ 'https://image.tmdb.org/t/p/w500' + filmComponent.view.film_detail.poster_path }}" alt="" width="100%">
		</div>
		<div class="col-md-7">
			<h3>Sinopsis</h3>
			<p>{{ filmComponent.view.film_detail.overview }}</p>
			<span ng-repeat="score in filmComponent.view.film_detail.rating track by $index">
				<span class="icon" ng-class="{'icon_star': score.Source == 'Internet Movie Database','icon_tomato': score.Source == 'Rotten Tomatoes','icon_popcorns': score.Source == 'Metacritic'}"></span>
				<span>{{ score.Value }}</span>
			</span>
			<span class="icon icon_popcorns"></span><span>{{ filmComponent.view.film_detail.vote_average }}</span>
			<div ng-if="filmComponent.view.film_detail.videos.results[0].key">
				<h3>Trailer</h3>
				<iframe width="560" height="315" ng-src="{{ filmComponent.getIframe(filmComponent.view.film_detail.videos.results[0].key) }}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col-md-1">
			<div class="detail_icons_wrapper" ng-if="filmComponent.view.auth">
				<span class="detail_icons_container" ng-if="filmComponent.getIndex('favorites', filmComponent.view.film_detail) === -1" >
					<a ng-click="filmComponent.add('favorites', filmComponent.view.film_detail)">
						<span>Favoritos</span>
						<br>
						<span class="detail_icons glyphicon glyphicon glyphicon glyphicon glyphicon-heart" aria-hidden="true"></span>
					</a>
				</span>
				<span class="detail_icons_container" ng-if="filmComponent.getIndex('favorites', filmComponent.view.film_detail) !== -1" >
					<a ng-click="filmComponent.remove('favorites', filmComponent.view.film_detail)">
						<span>Favoritos</span>
						<br>
						<span class="detail_icons check glyphicon glyphicon glyphicon glyphicon glyphicon-heart" aria-hidden="true"></span>
					</a>
				</span>
				<span class="detail_icons_container" ng-if="filmComponent.getIndex('watchLater', filmComponent.view.film_detail) === -1" >
					<a ng-click="filmComponent.add('watchLater', filmComponent.view.film_detail)">
						<span>Ver más tarde</span>
						<br>
						<span class="detail_icons glyphicon glyphicon glyphicon glyphicon-time" aria-hidden="true"></span>
					</a>
				</span>
				<span class="detail_icons_container" ng-if="filmComponent.getIndex('watchLater', filmComponent.view.film_detail) !== -1" >
					<a ng-click="filmComponent.remove('watchLater', filmComponent.view.film_detail)">
						<span>Ver más tarde</span>
						<br>
						<span class="detail_icons check glyphicon glyphicon glyphicon glyphicon-time" aria-hidden="true"></span>
					</a>
				</span>
				<span class="detail_icons_container" ng-if="filmComponent.getIndex('watched', filmComponent.view.film_detail) === -1" >
					<a ng-click="filmComponent.add('watched', filmComponent.view.film_detail)">
						<span>Ya vistas</span>
						<br>
						<span class="detail_icons glyphicon glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"></span>
					</a>
				</span>
				<span class="detail_icons_container" ng-if="filmComponent.getIndex('watched', filmComponent.view.film_detail) !== -1" >
					<a ng-click="filmComponent.remove('watched', filmComponent.view.film_detail)">
						<span>Ya vistas</span>
						<br>
						<span class="detail_icons check glyphicon glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"></span>
					</a>
				</span>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<h3>Algunas películas relacionadas</h3>
			<div class="related_films">
				<div class="film" ng-repeat="film in filmComponent.view.related_films track by film.id">
					<a ng-click="filmComponent.getFilm(film.id)" ng-include="'./views/partials/film.html'"></a>
				</div>
			</div>
		</div>
	</article>
</section>